<div class="title-block">
  <h3 class="title">
    Страница записей <span class="sparkline bar"></span>
  </h3>
</div>

<section class="section text-center" *ngIf="!isLoaded">
  <hm-loader></hm-loader>
</section>

<section class="section" *ngIf="isLoaded">
  <div class="row">
    <div class="col-md-6">
     <hm-add-event
       [categories]="categories"
     ></hm-add-event>
    </div>
    <div class="col-md-6">
      <hm-add-category
        (OnCategoryAdd) = "newCategoryAdded($event)"
      ></hm-add-category>
    </div>
  </div>
  <div class="col-md-6">
    <hm-edit-category
      [categories]="categories"
      (OnCategoryEdit) = "categoryWasEdited($event)"
    ></hm-edit-category>
  </div>
</section>
