<div *ngIf="!isLoaded">
  <hm-loader></hm-loader>
</div>
<div *ngIf="isLoaded">
<div class="title-block">
  <h3 class="title">
    <a [routerLink]="['/system/history']"><i class="fa fa-arrow-left"></i></a>
    Страница записи № {{currentEvent.id}}
    <span class="sparkline bar"></span>
  </h3>
</div>
<section class="section">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="card" ngClass="card-{{className}}">
        <div class="card-header">
          <div class="header-block">
            <p class="title" *ngIf="currentEvent.type ==='income'">Доход</p>
            <p class="title" *ngIf="currentEvent.type ==='outcome'">Расход</p>
          </div>
        </div>
        <div class="card-block">
          <ul>
            <li>Сумма: <strong>{{currentEvent.amount | number:'1.2'}}</strong></li>
            <li>Категория: <strong>{{catName}}</strong></li>
            <li>Кovvtynfhbq: <strong>{{currentEvent.description}}</strong></li>
          </ul>
        </div>
        <div class="card-footer">{{currentEvent.date | hmMoment:'DD.MM.YYYY HH:mm:ss'}}</div>
      </div>
    </div>
  </div>
</section>
</div>


