<div class="title-block">
  <h3 class="title pull-left">
    Страница счета <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right" *ngIf="isLoaded">
    <button class="btn-sm btn btn-primary-outline" (click)="onRefresh()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>
<section class="section">
  <div class="row" *ngIf="!isLoaded">Loading...</div>
  <div class="row" *ngIf="isLoaded">
    <hm-bill-card [bill]="bill" [currency]="currency"></hm-bill-card>
    <hm-currency-card></hm-currency-card>
  </div>
</section>
